@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: white;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100%;
}
